# Editor
.vscode/

# Dependencies
node_modules/

# Compiled output
out/

# Lock file
package-lock.json

# rust target
target/

# cargo lock
Cargo.lock

# exclude *.vsix on the root folder
*.vsix

#exclude bin folder anywhere in the path
bin/

#exclude logs folder anywhere in the path
logs/